hr
.footer
  div &copy; #{new Date().getFullYear()} Studio84 Enterprises, LLC
  div Release data by <a href="https://discogs.com">Discogs</a> | Lyrics by <a href="https://lyrist.vercel.app">Lyrist</a>