//- <!--
//-   if /items
//-     logo
//-     search term
//-   else if /item
//-     item image
//-     title, artist
//-   else if /item?track=A3
//-     item image
//-     title, artist, track name
//-   else
//-     logo
//-     Studio 84
//- -->

//- h1=JSON.stringify(path, null, 2)
