.tracklist
  table.pure-table(style="width: 100%;")
    thead
      tr
        th &nbsp;
        th track
        th dur
    tbody
      each track in item['tracklist']
        tr(valign="top")
          td #{track['position']}
          td
            div(style="font-weight: bold") #{track['title']}
            if track['artists']
              div(style="font-size: 0.8em") #{track['artists'].map((a) => { return a['name'] }).join(', ')}
          td #{track['duration']}
