.track(id='track-container-' + track['position'], style="display: none;")
  div(style='font-style: italic;') #{item['artists'][0]['name']}
  div
    a(href='') #{item['title']}
  h2(style='margin-top: 0.4em;') #{track['title']}
  .wrap #{track['lyrics']}
  div &nbsp;
  a.pure-button.lyrics(href='') Close