.tracklist
  table.pure-table
    thead
      tr
        th #
        th track
        th min
    tbody
      each track in item['tracklist']
        tr
          td #{track['position']}
          td #{track['title']}
          td #{track['duration']}
