extends layout

block content
  .pure-g
    form.pure-form(action='/items', method='GET').pure-form-stacked
      fieldset
        .pure-u-1-1
          select(name='search_target').pure-input-1
            option(value='artist') by artist
            option(value='item_title') by release title
            option(value='track_title') by track title
            option(value='release_year') by release year
            if current_user
              option(value='collection_notes') by local notes
              option(value='discogs_notes') by discogs notes

        .pure-u-1-1
          input.pure-input-1(name='search_str', value='', placeholder="search terms..." type='text')

        .pure-u-1-1
          input.pure-button.pure-button-primary#search(value='search', type='submit')

    div
      h3 Browse Crates & Folders
      each folder in folders
        .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
          a.folder-tile(href="/items?search_str=" + folder["name_encoded"] + "&search_target=folder")
            .folder-text #{folder['section']}
            .crate-text Crate #{folder['crate']}

  script(src="/javascripts/folders.js")
